h1{
    text-align: center;
}
h2{
    text-align: center;
    color: yellow;
    background-color: black;
}
input{
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}