<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Quote Page</title>
</head>
<body>
    <form action="/reset" method="GET">
        <input type="submit" value="reset">
    </form>
    <h1>You are visitor #<%= count %></h1>
    <% if(count % 2 === 0){ %>
        <h2>"Even flowers need rain."</h2>
      <% } else{ %>
        <h2>"Beat the odds!"</h2>
      <% } %>
      <form action="/repeat" method="GET">
        <input type="submit" value="repeat">
    </form>
</body>
</html>